# Binaries
miri
miri.exe
miri.test
miri-server

# Test output
*.out
output.test

.output.txt
# Dependencies
vendor/

# Go workspace
go.work
go.work.sum

server
tui

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# User data and configs
.miri/
bin
main
*.yaml  # optional, but since sensitive API keys
/templates/human_r.md
