storage_dir: ~/.miri

server:
  addr: :8080
  key: local-dev-key
  host: localhost

models:
  mode: merge
  providers:
    xai:
      baseUrl: https://api.x.ai/v1
      apiKey: "$XAI_API_KEY"
      api: openai-completions
      models:
        - id: xai/grok-4
          name: xai/grok-4
          reasoning: false
          input:
            - text
          cost:
            input: 0
            output: 0
            cacheRead: 0
            cacheWrite: 0
          contextWindow: 131072
          maxTokens: 8192
    nvidia:
      baseUrl: https://integrate.api.nvidia.com/v1
      apiKey: "$NVIDIA_API_KEY"
      api: openai-completions
      models:
        - id: kimi-k2.5
          name: Kimi K2.5
          reasoning: false
          input:
            - text
          cost:
            input: 0
            output: 0
            cacheRead: 0
            cacheWrite: 0
          contextWindow: 131072
          maxTokens: 8192

agents:
  debug: true
  defaults:
    model:
      primary: xai/grok-4
      fallbacks: [kimi-k2.5]

tools:
  enabled: false
  web_search_enabled: false
  web_fetch_enabled: false
  cron_enabled: false

channels:
  whatsapp:
    enabled: true
