# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.6'

    - name: Build-Wasm
      run: GOOS=js GOARCH=wasm go build -o api/sdk/wasm/miri.wasm src/cmd/wasm/main.go

    - name: Build-Server
      run: 	go build -trimpath -ldflags '-s -w' -o miri-server ./src/cmd/server/main.go

    - name: Test
      run: go test -trimpath -ldflags '-s -w' -o miri-server ./src/cmd/server/main.go
